.carouselImages{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    object-fit: cover;
    /*z-index: -1; para a imagem ficar embaixo das letras*/
}

.content{
    position: relative;
    color: var(--write);
    max-width: 1280px;
    margin: 0 auto;
}
.content p{
    width: 49%;
    font-size: 1.5rem;
    line-height: 30px;
}




