.button{
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: #524c4c;
    font-size: 1rem;
    border: none;
    color: var(--write);
    transition: 0.3s ease-in-out ;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.button:hover{
    transform: scale(1.2);
}