.aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.aside ul {
 
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.icon {

  filter: invert(1);
  width: 30px;
  transition: 0.3s ease-in-out;
}
.icon:hover{
    transform: scale(1.2);
}
