.nav{
    display: flex;
    gap:20px;
    justify-content: center;
    padding-top: 2rem;
  
}
.divLogo{
    max-width: 1280px;
    margin: 0 auto;
}
.logo{
    max-width: 350px;
    filter: invert(1);
    padding-top: 150px;
    padding-bottom: 50px;
    
}